{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card  mb-4">
                <div class="card-body p-3">
                  <a href="/branchs/list/">Branchs page</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card  mb-4">
                <div class="card-body p-3">
                  <a href="/departments/list/">Departments page</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card  mb-4">
                <div class="card-body p-3">
                  <a href="/professions/list/">Professions page</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card  mb-4">
                <div class="card-body p-3">
                  <a href="/employees/list/">Employees page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
    <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
{% endblock content %}