{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card  mb-4">
                <div class="card-body p-3">
                  <a href="/books/list/">Books page</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card  mb-4">
                <div class="card-body p-3">
                  <a href="/categorys/list/">Categorys page</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card  mb-4">
                <div class="card-body p-3">
                  <a href="/authors/list/">Authors page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}